html,
body {
  margin: 0;
  height: 100%;
}

.box {
  position: relative;
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}

.box .desk-top {
  position: fixed;
  inset: 0;
}

.box .overlap {
  position: relative;
  width: 100%;
  min-height: 100vh;
}

.box .body {
  position: absolute;
  inset: 0;
  background: #fff;
}

.box .performer {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 2475px;
  left: 160px;
}

.box .text-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-text-stroke: 0.5px #000000;
  mix-blend-mode: difference;
  font-family: "Quantico", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 40px;
  letter-spacing: 0;
  line-height: normal;
}

.box .view {
  position: absolute;
  width: 100%;
  width: 935px;
  height: 150px;
  top: 385px;
  left: 93px;
}

.box .rectangle {
  position: absolute;
  width: 100%;
  width: 150px;
  height: 150px;
  top: 0;
  left: 204px;
  background-color: #d9d9d9;
}

.box .div {
  position: absolute;
  width: 100%;
  width: 150px;
  height: 150px;
  top: 0;
  left: 0;
  background-color: #d9d9d9;
}

.box .rectangle-2 {
  position: absolute;
  width: 100%;
  width: 150px;
  height: 150px;
  top: 0;
  left: 402px;
  background-color: #d9d9d9;
}

.box .rectangle-3 {
  position: absolute;
  width: 100%;
  width: 150px;
  height: 150px;
  top: 0;
  left: 586px;
  background-color: #d9d9d9;
}

.box .rectangle-4 {
  position: absolute;
  width: 100%;
  width: 150px;

  height: 150px;
  top: 0;
  left: 785px;
  background-color: #d9d9d9;
}

.box .view-2 {
  position: absolute;
  width: 100%;
  width: 1120px;
  height: 150px;
  top: 107px;
  left: 0;
}

.box .rectangle-5 {
  position: absolute;
  width: 100%;
  width: 150px;
  height: 150px;
  top: 0;
  left: 587px;
  background-color: #d9d9d9;
}

.box .rectangle-6 {
  position: absolute;
  width: 100%;
  width: 150px;
  height: 150px;
  top: 0;
  left: 184px;
  background-color: #d9d9d9;
}

.box .rectangle-7 {
  position: absolute;
  width: 100%;
  width: 150px;
  height: 150px;
  top: 0;
  left: 771px;
  background-color: #d9d9d9;
}

.box .rectangle-8 {
  position: absolute;
  width: 100%;
  width: 150px;
  height: 150px;
  top: 0;
  left: 383px;
  background-color: #d9d9d9;
}

.box .rectangle-9 {
  position: absolute;
  width: 100%;
  width: 150px;
  height: 150px;
  top: 0;
  left: 970px;
  background-color: #d9d9d9;
}

.box .timetable {
  position: absolute;
  width: 100%;
  width: 1442px;
  height: 784px;
  top: 1612px;
  left: 0;
}

.box .overlap-group {
  position: relative;
  width: 100%;
  width: 1440px;
  height: 784px;
  background-color: #e6e6e6;
}

.box .schedule-wrapper {
  position: absolute;
  width: 100%;
  width: 1120px;
  height: 595px;
  top: 108px;
  left: 160px;
  background-color: #ffffff;
  box-shadow: 0px 4px 20px #00000040;
}

.box .schedule {
  position: relative;
  width: 100%;
  width: 1034px;
  height: 524px;
  top: 37px;
  left: 43px;
}

.box .rhythmos-trekkers {
  position: absolute;
  width: 100%;
  width: 1036px;
  height: 156px;
  top: 368px;
  left: 0;
}

.box .line {
  position: absolute;
  width: 100%;
  width: 1034px;
  height: 1px;
  top: 155px;
  left: 0;
  object-fit: cover;
}

.box .text-wrapper-2 {
  position: absolute;
  top: 0;
  left: 10px;
  font-family: "Quantico", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
}

.box .nomad-sentinel {
  position: absolute;
  width: 100%;
  width: 1036px;
  height: 47px;
  top: 276px;
  left: 0;
}

.box .img {
  width: 100%;
  width: 1034px;
  top: 46px;
  position: absolute;
  height: 1px;
  left: 0;
  object-fit: cover;
}

.box .view-3 {
  position: absolute;
  width: 100%;
  width: 1036px;
  height: 47px;
  top: 184px;
  left: 0;
}

.box .game-center {
  position: absolute;
  width: 100%;
  width: 1036px;
  height: 47px;
  top: 92px;
  left: 0;
}

.box .open {
  position: absolute;
  width: 100%;
  width: 1036px;
  height: 47px;
  top: 0;
  left: 0;
}

.box .text-wrapper-3 {
  position: absolute;
  width: 100%;
  width: 298px;
  top: 40px;
  left: 160px;
  -webkit-text-stroke: 0.5px #000000;
  mix-blend-mode: difference;
  font-family: "Quantico", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 40px;
  letter-spacing: 0;
  line-height: normal;
}

.box .info {
  position: absolute;
  width: 100%;
  width: 1122px;
  height: 335px;
  top: 1180px;
  left: 160px;
}

.box .overlap-2 {
  position: relative;
  height: 335px;
}

.box .rectangle-10 {
  position: absolute;
  width: 100%;
  width: 648px;
  height: 322px;
  top: 13px;
  left: 500px;
  object-fit: cover;
}

.box .group {
  position: absolute;
  width: 100%;
  width: 575px;
  height: 263px;
  top: 0;
  left: 0;
}

.box .element-sat {
  position: absolute;
  width: 100%;
  width: 542px;
  top: 60px;
  left: 29px;
  font-family: "Quantico", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
}

.box .span {
  font-family: "Quantico", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 32px;
  letter-spacing: 0;
}

.box .text-wrapper-4 {
  font-size: 20px;
}

.box .about {
  position: absolute;
  width: 100%;
  width: 1440px;
  height: 368px;
  top: 800px;
  left: 0;
  background-color: #ffffff;
}

.box .group-2 {
  position: relative;
  width: 100%;
  width: 1150px;
  height: 264px;
  top: 41px;
  left: 160px;
}

.box .nxpc-lab-nxpc-live {
  position: absolute;
  top: 60px;
  left: 29px;
  font-family: "Quantico", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.box .upcoming-event {
  position: absolute;
  width: 100%;
  width: 1442px;
  height: 712px;
  top: 88px;
  left: 0;
}

.box .div-wrapper {
  position: relative;
  width: 100%;
  width: 1440px;
  height: 712px;
  background-image: url(./img/mix-1.png);
  background-size: 100% 100%;
}

.box .text-wrapper-5 {
  position: absolute;
  top: 36px;
  left: 160px;
  -webkit-text-stroke: 0.5px #000000;
  mix-blend-mode: difference;
  font-family: "Quantico", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 40px;
  letter-spacing: 0;
  line-height: normal;
}

.box .footer {
  position: absolute;
  width: 100%;
  width: 1440px;
  height: 546px;
  top: 3150px;
  left: 0;
  background-color: #e6e6e6;
}

.box .SNS-icon {
  position: absolute;
  width: 100%;
  width: 364px;
  height: 88px;
  top: 406px;
  left: 540px;
}

.box .logo-black {
  position: absolute;
  width: 100%;
  width: 88px;
  height: 84px;
  top: 0;
  left: 146px;
  object-fit: cover;
}

.box .yt-icon-mono-light {
  position: absolute;
  width: 100%;
  width: 119px;
  height: 84px;
  top: 0;
  left: 0;
  object-fit: cover;
}

.box .instagram-glyph {
  position: absolute;
  width: 100%;
  width: 94px;
  height: 88px;
  top: 0;
  left: 270px;
}

.box .nx-PC {
  position: absolute;
  width: 100%;
  width: 427px;
  height: 233px;
  top: 128px;
  left: 510px;
}

.box .p {
  position: absolute;
  width: 100%;
  width: 421px;
  top: 159px;
  left: 0;
  font-family: "Oxygen", Helvetica;
  font-weight: 300;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.box .text-wrapper-6 {
  position: absolute;
  width: 100%;
  width: 279px;
  top: 189px;
  left: 71px;
  font-family: "Padauk", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
}

.box .text-wrapper-7 {
  width: 100%;
  width: 106px;
  top: 115px;
  left: 157px;
  position: absolute;
  font-family: "Palanquin Dark", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.box .image {
  position: absolute;
  width: 100%;
  width: 120px;
  height: 115px;
  top: 0;
  left: 150px;
  object-fit: cover;
}

.box .navi {
  position: absolute;
  width: 100%;
  width: 511px;
  height: 44px;
  top: 32px;
  left: 464px;
}

.box .overlap-group-2 {
  position: relative;
  height: 44px;
}

.box .frame {
  display: flex;
  width: 100%;
  width: 406px;
  align-items: flex-start;
  gap: 25px;
  position: absolute;
  top: 0;
  left: 53px;
}

.box .text-wrapper-8 {
  position: relative;
  width: 100%;
  width: fit-content;
  margin-top: -1px;
  font-family: "Palanquin Dark", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.box .text-wrapper-9 {
  position: relative;
  width: 100%;
  width: fit-content;
  margin-top: -1px;
  margin-right: -1px;
  font-family: "Palanquin Dark", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.box .lines {
  position: absolute;
  width: 100%;
  width: 511px;
  height: 40px;
  top: 4px;
  left: 0;
}

.box .line-2 {
  width: 100%;
  width: 511px;
  top: 39px;
  position: absolute;
  height: 1px;
  left: 0;
  object-fit: cover;
}

.box .line-3 {
  width: 100%;
  width: 511px;
  top: -1px;
  position: absolute;
  height: 1px;
  left: 0;
  object-fit: cover;
}

.box .header {
  position: absolute;
  width: 100%;
  width: 1442px;
  height: 88px;
  top: 0;
  left: 0;
  background-color: transparent;
}

.box .overlap-3 {
  position: relative;
  width: 1440px;
  width: 100%;
  height: 88px;
}

.box .rectangle-11 {
  position: absolute;
  width: 100%;
  width: 1440px;
  height: 82px;
  top: 0;
  left: 0;
  background-color: #ffffff;
}

.box .logo {
  position: absolute;
  width: 100%;
  width: 88px;
  height: 88px;
  top: 0;
  left: 160px;
  object-fit: cover;
}

.box .navbar {
  display: flex;
  width: 406px;
  width: 100%;
  align-items: flex-start;
  gap: 25px;
  position: absolute;
  top: 20px;
  left: 874px;
}

.box .text-wrapper-10 {
  width: 121px;
  top: 20px;
  left: 265px;
  position: absolute;
  font-family: "Palanquin Dark", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}